.pics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .buttons-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .buttons-container button {
    margin: 0 10px;
    padding: 10px 20px;
    font-weight: bold;
  }
  
  .buttons-container button.highlight {
    background-color: #ff9900;
    color: #fff;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  .image-container img {
    width: 300px;
    height: 200px;
    margin: 10px;
    transition: filter 0.3s;
  }
  
  .image-container img:hover {
    filter: brightness(70%);
  }
  @keyframes flyIn {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    50% {
        transform: translateY(10%);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Apply the animation to the .animated-title class */
.animated-title {
    animation: flyIn 2s ease-out;
}
  
  @media (max-width: 850px) {
    .image-container img {
      width: 100%;
     
      height: auto;
      margin: 10px 0;
    }
    .pics-container{
        width: 70%;
        margin-left: 35vmax;
    }
  }
  @media (max-width: 600px) {
    .image-container img {
      width: 100%;
     
      height: auto;
      margin: 10px 0;
    }
    .pics-container{
        width: 70%;
        margin-left: 45vmax;
    }
  }
  @media (max-width: 400px) {
    .image-container img {
      width: 100vmax;
     
      height: auto;
      margin-left: 5vmax;
    }
    .pics-container{
        width: 70%;
        margin-left: 50vmax;
        margin-top: 10vmax;
    }
    .buttons-container button {
        font-size: 2.2vmax;
      }
  }
  